# Printing the Values of List

In [1]:
x=[10,20,30,40]
print(x[0])
print(x[1])
print(x[2])
print(x[3])

10
20
30
40

# Instead of typing it manually we can use Control Statements

In [2]:
x=[10,20,30,40]
for i in x:
    print(i)

10
20
30
40

# Printing the Type of each element in the List

In [6]:
x= [True, 'Hello', 22, 55.45]
type(x[0])
type(x[1])
type(x[2])
type(x[3])

float

# Instead of typing it manually we can use Control Statements

In [7]:
x= [True, 'Hello', 22, 55.45]
for i in x:
    print(type(i))

<class 'bool'>
<class 'str'>
<class 'int'>
<class 'float'>

# Working with Sets

In [8]:
s={10,20,40,50,80,30,10,20,50}
for i in s:
    print(i)

40
10
80
50
20
30

# Using Range Objects

In [9]:
a=  range(10)
print(a)

range(0, 10)

In [10]:
a=  range(10)
for i in a:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [11]:
a=  range(1,11)
for i in a:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [12]:
a=  range(1,11,2)
for i in a:
    print(i)

1
3
5
7
9

In [14]:
a=  range(11,1,-2)
for i in a:
    print(i)

11
9
7
5
3

In [16]:
x=[10,20,30,40]
for i in range(len(x)):
    print(x[i])

10
20
30
40

 # Creating the List of Numbers

In [19]:
x= list(range(1,11))
for i in range(1,11):
    print(x[:i])

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Control Statements using Dictionaries

In [1]:
x = {"Name":"Kashmira","Gender":"Female","City":"Shrirampur"}
x.items()

dict_items([('Name', 'Kashmira'), ('Gender', 'Female'), ('City', 'Shrirampur')])

In [3]:
# by default it will print Keys only
for i in x:
    print(i)

Name
Gender
City

In [10]:
#Will print Values only
for i in x.values():
    print(i)

Kashmira
Female
Shrirampur

In [9]:
#Will print Keys only
for i in x.keys():
    print(i)

Name
Gender
City

In [8]:
#Will print Both Values and Keys
for i in x.items():
    print(i)

('Name', 'Kashmira')
('Gender', 'Female')
('City', 'Shrirampur')

In [20]:
#Will print Values only
for i,j in x.items():
    print(i)

Name
Gender
City

In [19]:
#Will print Both Values and Keys
for i,j in x.items():
    print(i,j)

Name Kashmira
Gender Female
City Shrirampur

In [11]:
i,j,k=10,20,30

In [12]:
i

10

In [13]:
type(i)

int

In [14]:
j

20

In [15]:
k

30

In [16]:
type(j)

int